@using System.Web.Mvc.Html
@using Alexr03.Common.TCAdmin.Extensions
@using Kendo.Mvc.UI
@using Newtonsoft.Json
@using TCAdmin.GameHosting.SDK.Objects
@using TCAdmin.SDK.Web.MVC.Extensions
@using TCAdminCustomMods.Configurations
@using TCAdminCustomMods.Providers

@{
    Layout = this.GetTemplateFile("Shared/Main.cshtml", true);
    var service = Service.GetSelectedService();
    var game = Game.GetSelectedGame();
}

@section sidebar{
    @Html.Action("_PageIcons", "Service", new {id = service.ServiceId})
}

<script>
    $("[data-role=textbox]").on("keydown", function(e) {
        if (e.keyCode === 13) {
            console.log("enter")
        }
    });

    let installedPlugins = [];
    
    function installPlugin(ds, providerId, modId){
        Alexr03.Common.HandleAjaxBegin();
        Alexr03.Common.ExecutePopupScript("/Service/CustomMods/InstallPlugin/@service.ServiceId", {method: 'POST', body: {"providerId": providerId, "modId": modId}} , "Install Mod", "@Resources.Game.ServiceHome.Close", function() {
            installedPlugins.push(modId);
            ds.read();
            Alexr03.Common.HandleAjaxComplete();
        });
    }
        
    function unInstallPlugin(ds, providerId, modId){
        Alexr03.Common.HandleAjaxBegin();
        Alexr03.Common.ExecutePopupScript("/Service/CustomMods/UnInstallPlugin/@service.ServiceId", {method: 'POST', body: {"providerId": providerId, "modId": modId}} , "Install Mod", "@Resources.Game.ServiceHome.Close", function() {
            const number = installedPlugins.indexOf(modId);
            if(number > -1){
                installedPlugins.splice(number, 1);
            }
            ds.read();
            Alexr03.Common.HandleAjaxComplete();
        });
    }
</script>

<div class="primary-content">
    @(Html.Kendo().TabStrip()
        .Name("tabstrip")
        .Items(items =>
        {
            foreach (var provider in CustomModBase.GetCustomModBases())
            {
                var config = provider.GetConfigurationForGame(game).ToObject<CustomModProviderConfiguration>();
                if(config == null || !config.Enabled) continue;

                if(string.IsNullOrEmpty(Request.QueryString["mod_provider"]) || Request.QueryString["mod_provider"] == provider.Id.ToString())
                items.Add().Text(config.CustomName).LoadContentFrom("PluginProvider", "CustomMods", new {id = service.ServiceId, providerId = provider.Id});
            }
        })
        .SelectedIndex(0)
        )
</div>

<style>    
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        width: 100%;
    }

    .custommod-k-card {
        width: 280px;
        height: 500px;
        border-color: rgba(0,0,0,0.08);
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        display: inline-flex;
        flex-direction: column;
        position: relative;
        margin: 0.5em;
    }
    
    .custommod-k-card-image {
        width: 278px;
        height: 228px;
    }
    
    .custommod-k-card-body {
        overflow: auto;
    }

    @if (!string.IsNullOrEmpty(Request.QueryString["mod_provider"])){
    <text>
    #tabstrip-tab-1{
        display: none;
    }
    </text>
    }
</style>