<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="TCAdmin.DebugSql" value="False" />
    <add key="TCAdmin.EnableCache" value="True" />
    <add key="TCAdmin.ThisServerId" value="1" />
    <add key="TCAdmin.Database.WebService.Url" value="" />
    <add key="TCAdmin.MultiLevelVariables" value="True" />
    <add key="TCAdmin.AllowHashLogin" value="True" />
    <add key="TCAdmin.Web.EnableAjax" value="True" />
    <add key="TCAdmin.Public.MVC" value="True" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="TCAdmin.BasicDDoSProtection" value="True" />
    <add key="TCAdmin.UnderAttackModeBlockWithFirewall" value="True" />
    <add key="TCAdmin.MaxAnonymousRequestMinutes" value="2" />
    <add key="TCAdmin.MaxAnonRequests" value="24" />
    <add key="TCAdmin.MaxAnonRequestsAttackMode" value="10" />
    <add key="TCAdmin.AnonRequestsEnableAttackMode" value="50" />
    <add key="TCAdmin.GameDeveloper" value="False" />
    <add key="TCAdmin.WebServices.KeepAlive" value="False" />
    <add key="TCAdmin.SharedPath" value="C:\TCAdmin2\Source\Monitor\bin\Debug\Shared\" />
    <add key="TCAdmin.LogPath" value="C:\TCAdmin2\Source\Monitor\bin\Debug\Logs\Web\" />
    <add key="TCAdmin.CachePath" value="C:\TCAdmin2\Source\Monitor\bin\Debug\Cache\" />
    <add key="TCAdmin.TempPath" value="C:\TCAdmin2\Source\Monitor\bin\Debug\Temp\" />
    <add key="TCAdmin.DatabasePath" value="C:\TCAdmin2\Source\Monitor\bin\Debug\Database\" />
    <add key="TCAdmin.BackupPath" value="C:\TCAdmin2\Source\Monitor\bin\Backups\" />
    <add key="TCAdmin.Database.Provider" value="TCAdmin.DatabaseProviders.MySql.MySqlManager,TCAdmin.DatabaseProviders.MySql" />
    <add key="TCAdmin.Database.MySql.ConnectionString" value="d/C8jnLNapkCyHSwg6pX+1zuUVSJ2Vv7yV2uQPUnJEIzPrAd4I5Xyxn8fSfmXyy5+rP59fT0a9+pTQP7d/kuUsBVWvii6+6jmIrWkzdr3xc/icVp27fRYPxxagOYQzX8Z9TAfdKwyVJo9IUifVdXiHmLzgVP4DK0WtkeJAu9av4DMo9cXK9hC3zhUyRLYgHgSYSMckX6ta4QOtW42UcR1oaO2uIT8mo6Z/1ieQ0HBPQ=" />
    <add key="TCAdmin.Database.MySql.ConnectionString.Encrypted" value="True" />
    <add key="TCAdmin.LogOutUrl" value="~/Interface/Base/Login.aspx" />
    <add key="TCAdmin.BasicAuth.Pages" value="" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <webServices>
      <soapExtensionTypes>
        <add group="High" priority="1" type="TCAdmin.SDK.Remote.WebServices.Extensions.SerializedExceptionExtension, TCAdmin.SDK" />
      </soapExtensionTypes>
    </webServices>
    <customErrors allowNestedErrors="false" redirectMode="ResponseRedirect" mode="RemoteOnly">
      <error statusCode="404" redirect="~/" />
    </customErrors>
    <compilation targetFramework="4.5.2" numRecompilesBeforeAppRestart="315360000">
      <buildProviders>
        <remove extension=".cshtml" />
        <add extension=".cshtml" type="TCAdmin.Web.MVC.RazorBuildProvider, TCAdmin.Web.MVC" />
      </buildProviders>
    </compilation>
    <sessionState timeout="60" />
    <authentication mode="Forms">
      <forms name="__TCAdmin2" loginUrl="~/Login" protection="All" timeout="60" requireSSL="False" domain="" cookieless="UseCookies" slidingExpiration="true" />
    </authentication>
    <machineKey validationKey="809767AB197B817280AD99EE6FF764BF11D386FC66313793C56BC21AAE6C20D7F9747EAA289CB2321EDDD49D2B1646F98AE477178F1D20B8B5E7C75D96B8C888" decryptionKey="E7A7E7D48EDD35F2C429221EBE16CF65EF82E8BE5FB6885E" validation="SHA1" decryption="AES" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="TCAdmin.SDK.Web.MVC.Extensions" />
        <add namespace="TCAdmin.Web.MVC" />
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="HttpCompressModule" type="TCAdmin.Helper.HttpCompress.HttpModule,TCAdmin.Helper" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Detector" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.1.0" newVersion="1.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.11.7.0" newVersion="106.11.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mono.Posix" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- ADDED FOR KENDO -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" />
  </runtime>
</configuration>
<!--ProjectGuid: {9274245E-9612-47E5-9467-A4066419A17A}-->